---
import BasePage from "../layouts/BasePage.astro";
import Avatar from "../components/Avatar.svelte";
import Row from "carbon-components-svelte/src/Grid/Row.svelte";
import Column from "carbon-components-svelte/src/Grid/Column.svelte";
---

<BasePage>
  <Row>
    <Column style="margin: auto;">
      <h1>Robin Lindner</h1>
      <h2>Software Engineer</h2>
      <br />
      <p>
        Hey, I'm passionate about software development with a focus on
        cloud-focused backend development. I am also interested in compiler
        engineering and x86 assembly.
      </p>
    </Column>
    <Column>
	  <Avatar client:only/>
    </Column>
  </Row>
</BasePage>