---
import { Image } from "astro:assets";
import image1 from "../assets/image-1.webp";
import image2 from "../assets/image-2.webp";

import { CompanyBlock } from "../components/CompanyBlock/CompanyBlock";
import { VitaBlock } from "../components/VitaBlock/VitaBlock";
import { Footer } from "../components/Footer/Footer";
import { Header } from "../components/Header/Header";
import { Hero } from "../components/Hero/Hero";
import { SkillGrid } from "../components/SkillGrid/SkillGrid";
import { Technologies } from "../components/Technologies/Technologies";
import MinimalLayout from "../layouts/MinimalLayout.astro";
import { MetaBuilder } from "../meta";

const metaBuilder = new MetaBuilder();
metaBuilder.title("The local host of Robin Lindner");
metaBuilder.description(
  "Explore Robin Lindner's professional journey in the tech industry. Discover his impressive portfolio and dive into his wide range of skills in software development and entrepreneurship.",
  "Step into the world of Robin Lindner, a seasoned software developer and tech entrepreneur. Learn about his accomplishments and experience his passion for innovation.",
  "Discover the professional landscape of Robin Lindner, where creativity meets technology. Delve into his contributions in the tech industry and his entrepreneurial ventures."
);
metaBuilder.keywords([
  "Robin Lindner",
  "Software Development",
  "Entrepreneurship",
  "Tech Industry",
  "Professional Portfolio",
  "Igersheim",
  "Bad Mergentheim",
  "Holzbronn",
]);
metaBuilder.revisedAt(new Date());
let siteUrl = new URL(Astro.url.pathname, Astro.site);
metaBuilder.jsonld({
  "@context": "https://schema.org",
  "@type": "WebSite",
  name: "Robin Lindner",
  url: siteUrl.toString(),
});

const meta = metaBuilder.create();
---

<style>
  article {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  @media only screen and (max-width: 768px) {
    article {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }

  .page {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  @media only screen and (max-width: 768px) {
    #company {
      height: 200vh;
    }

    #skills {
      height: 200vh;
    }
  }

  h2 {
    font-size: 32pt;
    margin-top: 3rem;
  }
</style>
<MinimalLayout {meta}>
  <div id="me" class="page">
    <Header client:load />
    <article>
      <Hero />
    </article>
  </div>
  <article id="company" class="page">
    <CompanyBlock />
    <VitaBlock>
      <Image src={image2} width={240} alt="Robin Lindner" />
      <Image src={image1} width={240} alt="Robin Lindner" />
    </VitaBlock>
  </article>
  <article id="skills" class="page">
    <h2>My skills</h2>
    <SkillGrid client:load />
    <h2>Technologies I use</h2>
    <Technologies />
  </article>
  <Footer />
</MinimalLayout>
