---
import { Footer } from "../components/Footer/Footer";
import { Header } from "../components/Header/Header";
import MinimalLayout from "../layouts/MinimalLayout.astro";
import { MetaBuilder } from "../meta";

const metaBuilder = new MetaBuilder();
metaBuilder.title("Vita - Robin Lindner");
metaBuilder.description(
  "Delve into the detailed professional journey of Robin Lindner, a seasoned software developer. Experience his growth and achievements in the tech industry.",
  "Immerse yourself in Robin Lindner's professional history, highlighting his technological expertise and entrepreneurial endeavours. See how he's making his mark in the tech industry.",
  "Delve into the detailed professional journey of Robin Lindner, a seasoned software developer and successful entrepreneur. Experience his growth and achievements in the tech industry."
);
metaBuilder.keywords([
  "Professional History",
  "Technological Expertise",
  "Entrepreneurial Endeavours",
  "Tech Industry",
  "Robin Lindner",
]);
metaBuilder.revisedAt(new Date());

const meta = metaBuilder.create();
---

<style>
  article {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .page {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 32pt;
    margin-top: 3rem;
  }
</style>
<MinimalLayout {meta}>
  <Header client:load />
  <article class="vita">
    <h1>Vita</h1>
    <section id="professional-experience">
      <h2>Professional Experience</h2>
      <div>
        <h3>Founder and Software Developer, Lindner IT</h3>
        <h4>February 2023 - Present</h4>
        Founded Lindner IT with a goal to provide custom software development solutions
        for complex processes, mobile app development to increase corporate productivity,
        and web development utilizing a variety of frameworks and CMSs. I personally
        manage all aspects of the business, including software operations, maintenance,
        and customer service, ensuring client satisfaction is at the forefront.
      </div>
      <div>
        <h3>Software Developer, W端rth Industrie Service GmbH & Co. KG</h3>
        <h4>
          February 2023 - Present; September 2020 - February 2023 in
          apprenticeship
        </h4>
        As a key member of W端rth Industrie Service's IT team, I'm heavily involved
        in our transition to cloud-based resources. My current primary responsibility
        is pioneering our new print architecture project, aiming to modernize the
        label printing process by eliminating the need for printer drivers.
      </div>
    </section>
    <section id="voluntary-experience">
      <h2>Voluntary Experience</h2>
      <div>
        <h3>Open Source Contributer, .NET Foundation</h3>
        In addition to my work, I actively contribute to open-source projects, specifically
        within the .NET Foundation. I take pride in submitting pull requests to the
        Base Class Library (BCL) and .NET Runtime (CoreCLR).
      </div>
    </section>
    <section id="education">
      <h3>Education</h3>
      <ul>
        <li>
          Computer Science Expert (Subject Area: Software Development), IHK
          Certified (2023)
        </li>
        <li>
          Ausbildung Fachinformatiker f端r Anwendungsentwicklung, W端rth Industrie
          Service GmbH & Co. KG (2020 - 2023)
        </li>
      </ul>
    </section>
    <section id="skills-and-interests">
      <h3>Skills and interests</h3>
      Expert in software development, architecture, and web design. Proficient in
      Solid, Vue, React, WordPress, WooCommerce, Shopify, and Adobe Commerce. Passionate
      about cloud computing, and grid and volunteer computing.
    </section>
    <section id="future-goals">
      I aim to expand Lindner IT, growing our client and employee base, and
      delivering exceptional client satisfaction.
    </section>
  </article>
  <Footer />
</MinimalLayout>
