---
import BasePage from "../../../layouts/BasePage.astro";
import Link from "carbon-components-svelte/src/Link/Link.svelte";
import { getLanguageRespectingPath } from "../../../localization";
let language = await getLanguageRespectingPath(Astro.params);
if (language == undefined) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}
---

<BasePage>
  <div>
    <h1>Services</h1>
    <br />
    <p>
      Thank you for your interest in my services. This page is still under
      construction, so check back here in a few weeks. Alternatively you can
      find the right service on my <Link href="https://de.fiverr.com/deeprobin_"
        >Fiverr profile</Link
      >.
    </p>
  </div>
</BasePage>
