---
import { getLanguageRespectingPath } from "../../localization";

import BasePage from "../../layouts/BasePage.astro";
import Avatar from "../../components/Avatar.astro";
import Row from "carbon-components-svelte/src/Grid/Row.svelte";
import Column from "carbon-components-svelte/src/Grid/Column.svelte";
import ButtonSet from "carbon-components-svelte/src/Button/ButtonSet.svelte";
import Button from "carbon-components-svelte/src/Button/Button.svelte";
import { MetaBuilder } from "../../meta/meta";

let language = await getLanguageRespectingPath(Astro.params);
if (language == undefined) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}

let metaBuilder = new MetaBuilder();
metaBuilder.title("DeepRobin.DE – Robin Lindner");
metaBuilder.description(language.getByKey("index.meta.description")!);

metaBuilder.jsonld({
  "@context": "http://www.schema.org",
  "@type": "WebPage",
  name: "DeepRobin.DE – Robin Lindner",
  description: language.getByKey("index.meta.description")!,
});
metaBuilder.jsonld({
  "@context": "http://www.schema.org",
  "@type": "person",
  name: "Robin Lindner",
  jobTitle: "Software Engineer",
  height: "1.73m",
  gender: "male",
  url: "https://deeprobin.de/",
  sameAs: [
    "https://github.com/deeprobin/",
    "https://www.linkedin.com/in/deeprobin/",
  ],
  worksFor: {
    "@type": "Organization",
    name: "Würth Industrie Service GmbH & Co. KG",
    url: "https://wuerth-industrie.com/",
    address: {
      "@type": "PostalAddress",
      addressLocality: "Bad Mergentheim",
      addressRegion: "BW",
      postalCode: "97980",
      addressCountry: "Germany",
    },
  },
  email: "robin@deeprobin.de",
  birthDate: "2004-04-02",
  birthPlace: "Bad Mergentheim, Germany",
  //"memberOf": [".NET Foundation"],
  //"award": [""]
  nationality: "German",
});

let meta = metaBuilder.create();
---

<BasePage meta={meta}>
  <Row>
    <Column style="margin: auto;">
      <h1>Robin Lindner</h1>
      <h2>Software Engineer</h2>
      <br />
      <p>{language.getByKey("index.description")}</p>
      <br />
      <ButtonSet>
        <Button href={"/" + language.identifier + "/services"}
          >{language.getByKey("services")}</Button
        >
        <Button href={"/" + language.identifier + "/contact"}
          >{language.getByKey("customOffer")}</Button
        >
        <Button href={"/" + language.identifier + "/cv"}
          >{language.getByKey("curriculumVitae")}</Button
        >
      </ButtonSet>
    </Column>
  </Row>
  <Avatar slot="other-content" />
</BasePage>
