---
import { getLanguageRespectingPath } from "../../localization";

import BasePage from "../../layouts/BasePage.astro";
import Avatar from "../../components/Avatar.svelte";
import Row from "carbon-components-svelte/src/Grid/Row.svelte";
import Column from "carbon-components-svelte/src/Grid/Column.svelte";
import ButtonSet from "carbon-components-svelte/src/Button/ButtonSet.svelte";
import Button from "carbon-components-svelte/src/Button/Button.svelte";

let language = await getLanguageRespectingPath(Astro.params);
if (language == undefined) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}
---

<BasePage>
  <Row>
    <Column style="margin: auto;">
      <h1>Robin Lindner</h1>
      <h2>Software Engineer</h2>
      <br />
      <p>{language.getByKey("index.description")}</p>
      <br />
      <ButtonSet>
        <Button href="./services/">{language.getByKey("services")}</Button>
        <Button href="./contact/">{language.getByKey("customOffer")}</Button>
        <Button href="./cv/">{language.getByKey("curriculumVitae")}</Button>
      </ButtonSet>
    </Column>
    <Column>
      <Avatar client:only />
    </Column>
  </Row>
</BasePage>
