footer {
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #171a1f;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  a:link,
  a:visited,
  a:active {
    color: white;

    &:hover {
      color: gray;
    }
  }
}

.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.copyright-notice {
  margin-top: 1.5rem;
  font-size: 12pt;
  text-align: center;
}

.substainability-notice {
  font-size: 10pt;
  text-align: center;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

@media only screen and (max-width: 768px) {
  footer {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
  }
}
