---
//import "../styles/carbon.scss";
import "carbon-components-svelte/css/white.css";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import ContextMenu from "../components/ContextMenu.astro";
import BaseContent from "../components/BaseContent.astro";
import { State } from "../state";
import { MetaBuilder } from "../meta/meta";

const { meta } = Astro.props;
let state = await State.createState(Astro);
---

<html lang="en">
  <head>
    <BaseHead meta={meta} />
    <script type="text/partytown">
      console.log("Test");
    </script>
  </head>

  <body>
    <ContextMenu {state} />
    <Header {state} />

    <BaseContent {state}>
      <slot />
    </BaseContent>
  </body>
</html>
