---
import BaseHead from "../components/BaseHead.astro";
//import "../styles/carbon.scss";
import "carbon-components-svelte/css/white.css";
---

<style lang="scss">
    body {
        width: 100vw;
        height: 100vh;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;

        & > main {
            display: flex;
            flex-direction: column;
            align-items: center;

            box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            width: 70%;
            height: 70%;
        }
    }
</style>
<html lang="en">
	<head>
		<BaseHead title="DeepRobin.DE" description="DeepRobin.DE" />
	</head>

	<body>
        <main>
            <slot />
        </main>
	</body>
</html>
